<p id="notice"><%= notice %></p>



<%= image_tag(skateboard_icon(@skateboard), {:width => 300}) %>

<p>
  <b>Wheel color:</b>
  <%= @skateboard.wheel_color %>
</p>

<p>
  <b>Deck size:</b>
  <%= @skateboard.deck_size %>
</p>

<p>
  <b>Board brand:</b>
  <%= @skateboard.board_brand %>
</p>

<p>
  <b>Board price:</b>
  <%= @skateboard.price %>
</p>

<%= link_to 'Edit', edit_skateboard_path(@skateboard) %> |
<%= link_to 'Back', skateboards_path %>
