<h1>Skateboard Heaven!</h1>

<table>
  <tr>
    <th>Wheel color</th>
    <th>Style</th>
    <th>Size</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @skateboards.each do |skateboard| %>
  <tr>
    <td><%= skateboard.wheel_color %></td>
    <td><%= skateboard.style %></td>
    <td><%= skateboard.size %></td>
    <td><%= link_to 'Show', skateboard %></td>
    <td><%= link_to 'Edit', edit_skateboard_path(skateboard) %></td>
    <td><%= link_to 'Destroy', skateboard, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Skateboard', new_skateboard_path %>
